/**STYLE**/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

#container {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background: #f3f3f3;

	#canvas-div {
		max-width: 800px;
		border: 1px solid #ff0000;
		background: #ffffff;
	}

	#toolbox {
		float: right;
	}
}